table {
  width: 1000px;
  margin: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th {
  color: #fc6225;
  text-align: center;
  font-size: 15px;
}
th, td {
padding: 15px;
}

table th, td {
  border-bottom: 1px solid #aaa;
}

tbody {
  text-align: center;
}
